* {
    box-sizing: border-box;
}

.calc{
    display: grid;
    justify-content: center;
    grid-template-rows: 70px 80px 80px 80px 80px 80px;
    grid-template-columns:80px 80px 80px 80px;
    grid-template-areas: 
    'scr      scr      scr     scr'
    'clear    clear    del     div'
    'seven    eight    nine     mul'
    'four     five     six     minus'
    'one      two      three   plus'
    'zer      zer      zer     equal'
    ;
}

.scr{
    grid-area: scr;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.clear{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: clear;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;    
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.del{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: del;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: div;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.mul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: mul;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.plus{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: plus;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.minus{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: minus;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.equal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: equal;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}


.one{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: one;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.two{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: two;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: three;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.four{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: four;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.five{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: five;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.six{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: six;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.seven{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area:seven;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.eight{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: eight;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.nine{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: nine;
    border: 1.5px solid black;
    padding: 0;
    margin: 0; 
}

.zer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: zer;
    border: 1.5px solid black;
    border-bottom: 3px solid;
    padding: 0;
    margin: 0;
}
