* {
    box-sizing: border-box;
}

.calc{
    display: grid;
    justify-content: center;
    grid-template-rows: 70px 80px 80px 80px 80px 80px;
    grid-template-columns:80px 80px 80px 80px;
    grid-template-areas: 
    'scr      scr      scr     scr'
    'clear    clear    del     div'
    'seven    eight    nine     mul'
    'four     five     six     minus'
    'one      two      three   plus'
    'zer      zer      zer     equal'
    ;
}

.scr{
    grid-area: scr;
    border: 1.5px solid black;
    padding: 0;
    margin: 0;
    background-color: black;
}

.clear,.del,.div,.mul, .plus,.minus,.equal,.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.zer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.3px solid black;
    padding: 0;
    margin: 0;    
    font-size: 35px;
    font-family:sans-serif;
    background-color: #d8d9db;
}

.div,.mul,.minus,.plus,.equal{
    background-color: #df974c;
    color: white;
}

.clear{
    grid-area: clear;
    border-left-color: #d8d9db;
}

.del{
    grid-area: del;
}

.div{
    grid-area: div;
    border-right-color: #df974c;
}

.mul{
    grid-area: mul;
    border-right-color: #df974c;
}

.plus{
    grid-area: plus;
    border-right-color: #df974c;
}

.minus{
    grid-area: minus;
    border-right-color: #df974c;
}

.equal{
    grid-area: equal;
    border-bottom-color: #df974c;
    border-right-color: #df974c;
}


.one{
    grid-area: one;
    border-left-color: #d8d9db;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
    border-left-color: #d8d9db;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area:seven;
    border-left-color: #d8d9db;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine; 
}

.zer{
    grid-area: zer;
    border-bottom-color: #d8d9db;
    border-left-color: #d8d9db;
}
